<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TABLE CREATION</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
</head>
<body>
    <div class="table">
        <h1 class="header" align="left">CREATE A NEW TABLE</h1>
        <div class="form">
            <form>>inp action="/create_table" method="POST">
                <label>Fill all the values</label>
                <input type="text" name="host">Enter host</input>
                <input type="submit" value="submit">Submit</input>
            </form>>
        </div>>
    </div>
</body>
</html>